<!DOCTYPE html>
<html>
  <head>
    <title>Recettes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Les recettes</h1>
    <ul>
      <% @recettes.all.each do |recette| %>
        <li>
          <a href=recettes/<%= recette.id %> target=_blank><%= recette.titre %></a>
        </li>
      <% end %>
    </ul>
    
  </body>
</html>